body {
  background-color: #f9f7fe;
  display: block;
  margin: 8px;
}

header {
  display: block;
}

main {
  display: block;
}

.searchFormInput {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.searchFormButton {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.weatherAppData {
  display: flex;
  justify-content: space-between;
}

.weatherAppCity {
  font-size: 38px;
  line-height: 48px;
  margin: 0;
}

.weatherAppDetails {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
